%h2
  ERROR: 
  = @msg

#howto.error
  %ul
    %li Sprawdź czy dokładnie skopiowałeś <strong>źródło</strong> (HTML) strony.
    %li Napisz mi <a href="mailto:i@teamon.eu">maila.</a>
    %li <a href="http://github.com/teamon/pwr/issues">Dodaj ticket</a>
    
  %p Screeny i żródła mile widziane.