<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='pl_PL' xml:lang='pl_PL' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>pwr</title>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'></meta>
    <link href='http://s.teamon.eu/assets/heroku.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id="container">
      <div id='main'>    
        <h1>Generator planu PWR <span>(0.1.0)</span></h1> 
        <div class="info"> 
          <a href="http://github.com/teamon/pwr">source code</a>
        </div>
        
        <form action="/plan" method="post">
          <fieldset>
            <textarea name="data"></textarea>
          </fieldset>
          <p class="actions">
            <input type="submit" class="submit" value="Generuj" />
          </p>
          
          <div id="howto">
            <ul>
              <li>Wbij na cwela (zaloguj sie itp)</li>
              <li>Kliknij zakladke <strong>"Zapisy"</strong> (po lewej w menu)</li>
              <li>Teraz klik na <strong>"Przelacz na &lt;Grupy zajeciowe do ktorych sluchacz jest zapisany w semestrze&gt;"</strong></li>
              <li>Skopiuj zrodlo strony i wklej w pole powyzej</li>
            </ul>
          </div>
        </form>
      </div>

      <div id='foot'>
        <div id="more">
          <a href="http://blog.teamon.eu">blog</a> |
          <a href="http://teamon.tumblr.com">tumblr</a> |
          <a href="http://github.com/teamon">github</a> |
          <a href="http://klp.heroku.com">KLP Printer</a> |
          <a href="http://pwr.heroku.com">Generator planu PWR</a>
        </div>
        <p class="copy">
          &copy; 2010 | <a href='http://teamon.eu'>teamon.eu</a>
        </p>
      </div>
    </div>
  </body>
</html>
