<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='pl_PL' xml:lang='pl_PL' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>pwr</title>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <link href='/master.css' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/livequery.js"></script>
    <script type="text/javascript" src="/app.js"></script>
    
    <style type="text/css">

    </style>
  </head>
  <body>
    <div id="container">
      <div id='main'>    
        <h1><a href="/">PWR</a> <span>(0.2.0)</span></h1> 
        <div class="info"> 
          <a href="http://github.com/teamon/pwr">source code</a>
        </div>
        <%= yield %>
      </div>

      <div id='foot'>
        <div id="more">
          <a href="http://blog.teamon.eu">blog</a> |
          <a href="http://teamon.tumblr.com">tumblr</a> |
          <a href="http://github.com/teamon">github</a> |
          <a href="http://klp.heroku.com">KLP Printer</a> |
          <a href="http://pwr.heroku.com">Generator planu PWR</a>
        </div>
        <p class="copy">
          &copy; 2010 | <a href='http://teamon.eu'>teamon.eu</a>
        </p>
      </div>
    </div>
  </body>
</html>
