%h2 Generator planu zajęć
%form{:action => "/plan", :method => "post"}
  %fieldset
    %textarea{:name => "data"}
    
  .actions
    .radio
      %input{:type => "radio", :name => "type", :id => "type_pdfkit", :value => "pdfkit", :checked => "checked"}
      %label{:for => "type_pdfkit"} PDF (Nowe!)
      %input{:type => "radio", :name => "type", :id => "type_html", :value => "html"}
      %label{:for => "type_html"} HTML
      %input{:type => "radio", :name => "type", :id => "type_ical", :value => "ical"}
      %label{:for => "type_ical"} iCal
      %input{:type => "radio", :name => "type", :id => "type_vcs", :value => "vcs"}
      %label{:for => "type_vcs"} VCS
      %input{:type => "radio", :name => "type", :id => "type_pdf", :value => "pdf"}
      %label{:for => "type_pdf"} Stary PDF
        
    %input.submit{:type => "Submit", :value => "Generuj"}
    
  #examples
    %a{:rel => "examples", :href => "/examples/pdf.png", :title => "PDF", :class =>"first"}
      %img{:src => "/examples/pdf-thumb.png"}
    %a{:rel => "examples", :href => "/examples/ical.png", :title => "iCal"}
      %img{:src => "/examples/ical-thumb.png"}
  
  
  #howto
    %h3 Instrukcja obsługi
    %ul
      %li Wbij na cwela (zaloguj się itp)
      %li Kliknij zakładkę <strong>"Zapisy"</strong> (po lewej w menu)
      %li 
        Teraz klik na 
        %strong "Przełącz na &lt;Grupy zajęciowe do których słuchacz jest zapisany w semestrze&gt;"
      %li Skopiuj źródło strony i wklej w pole powyżej
    