
body {
  font-family: 'lucida grande', 'Segoe UI', arial, verdana, 'lucida sans unicode', tahoma, sans-serif;
  font-size:  8pt;
  color: rgb(34,34,34);
  padding-top: 20px;
}
#container {
  width: 600px;
  margin: auto;
}
#main {
  background-color: #f5f5f5;
  padding: 10px 0;
  margin-bottom: 20px;
  overflow: hidden;
}

a {
  color:  rgb(31, 117, 204);
}
a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}


h1 {
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 0px 15px 15px;
  color:  rgb(31, 117, 204);
}

h1 span {
	font-size: 6pt;
  color: #aaa}

form {
	padding: 20px;
}

fieldset p { 
  overflow: hidden;
}
fieldset label { 
  float: left;
  width: 100px;
  text-align: right;
  padding: 6px;
}

fieldset label:after { content: ":"; }

fieldset input.text,
fieldset input.password,
fieldset textarea,
fieldset select { 
  float: left;
  width: 300px;
  border: 1px solid #ccc;
  padding: 3px;
}
fieldset textarea {
  height: 150px;
  width: 550px;
}
form .actions  { 
  padding-top:10px;
  padding-bottom: 10px;
}

form span.info {
  padding-left: 115px;
  padding-bottom: 5px;
  padding-top: 2px;
  color: #999;
  float: left;
}


form .actions input {
  background-color: #4e4e4e;
  color: #f2f2f2;
  border: none;
  -webkit-border-radius: 4px;
  padding: 5px 10px;
  float: right;
}



#foot {
  text-align: right;
  color: #aaa;
  padding: 10px 15px; 
  font-size: 8pt;
}
#foot a {
  font-size: 8pt;
}

#howto ul {
  padding-left: 20px;
  padding-right: 200px;
  line-height: 15px;
}
#howto ul li {
  list-style: decimal;
}
