/*
 * Coded4 :: reset.css
 * Resets browser-specific styles
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

h1, h2, h3, h4, h5, h6,
em, strong, i, b, address, cite, q, dfn, th, a {
	font-style: inherit;
	font-weight: inherit;
	text-decoration: none; 
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
  vertical-align: top;
  text-align: left;
}

button, input, select, option, textarea {
	font: inherit;
}

input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
}